@import url(https://fonts.googleapis.com/css?family=Rubik:regular&display-swap);
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono:regular&display-swap);
@import url(https://fonts.googleapis.com/css?family=B612+Mono:regular&display-swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  min-width: 320px;
}

body {
  font-family: Rubik;
  font-size: 20px;
  background: #091921;
}

[class*=__container] {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul li {
  padding: 10px 0;
}

.main__container {
  height: 100vh;
}
.main__stopwatch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}
.main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.main__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
  margin-bottom: 40px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main__button-body_1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main__button-body_3 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main__button {
  letter-spacing: 0.14em;
  line-height: 1.2;
  width: 100px;
  height: 100px;
  background-color: rgb(163, 153, 6);
  color: rgb(223, 223, 223);
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
}
.main__button:hover {
  -webkit-box-shadow: 0px 4px 18px rgba(244, 246, 252, 0.18);
          box-shadow: 0px 4px 18px rgba(244, 246, 252, 0.18);
  background-color: rgb(138, 129, 5);
}
.main__button_1 {
  background-image: url("../img/controls/start.svg");
  background-position: 60% 50%;
  background-repeat: no-repeat;
  background-size: 60% 60%;
  width: 140px;
  height: 140px;
}
.main__button_1._active {
  background-image: url("../img/controls/stop.svg");
  background-position: 54% 50%;
  width: 300px;
  border-radius: 20px;
}
.main__button_3 {
  background-image: url("../img/controls/refresh.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 45% 45%;
}
.main__button_3:active {
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  transition: -webkit-transform 0.1s ease 0s;
  -o-transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.main__button_5 {
  background-image: url("../img/controls/lap.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 50% 50%;
}
.main__button_5:active {
  -webkit-transition: -webkit-transform 0.1s ease 0s;
  transition: -webkit-transform 0.1s ease 0s;
  -o-transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s;
  transition: transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}
.main__time {
  font-size: 10em;
  font-family: "Cutive Mono", monospace;
  max-width: 100%;
  color: rgb(150, 150, 150);
}
.main__laps {
  color: rgb(150, 150, 150);
  font-family: "Cutive Mono", monospace;
  display: grid;
  grid-template-columns: repeat(5, auto 120px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__laps span {
  color: rgb(156, 75, 75);
  justify-self: end;
  margin-left: 4px;
}
.main__laps span:first-child {
  margin-left: 0;
}

@media (max-width: 989.98px) {
  .main__time {
    font-size: 7.6em;
  }
  .main__controls {
    gap: 15%;
    row-gap: 20px;
  }
  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .main__laps {
    grid-template-columns: repeat(4, auto 120px);
  }
}
@media (max-width: 767.98px) {
  .main__controls {
    gap: 5%;
    row-gap: 20px;
  }
  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
  .main__time {
    font-size: 5.8em;
  }
  .main__laps {
    grid-template-columns: repeat(3, auto 120px);
  }
}
@media (max-width: 579.98px) {
  .main__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
  }
  .main__time {
    font-size: 3.2em;
    margin-bottom: 20px;
  }
  .main__button {
    width: 60px;
    height: 60px;
  }
  .main__button:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: rgb(163, 153, 6);
  }
  .main__button_1 {
    width: 90px;
    height: 90px;
  }
  .main__button_1._active {
    width: 150px;
  }
  .main__button_3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
  .main__laps {
    grid-template-columns: repeat(2, auto 120px);
    font-size: 18px;
  }
  .main__laps span {
    margin-left: 10px;
  }
}